Notes.md
tmp/*
__pycache__/
*.py[cod]
apps/ldap-api/log/*
*.tdo
*.toc
*.brf
*.bbl
*.aux
*.lof
*.blg
*.fls
*.log
tex/Thesis.*
*.bak
apps/ldap-api/env
scripts/env
apps/ldap_api/env/
apps/sqlserver_manager/env/
app.db
apps/ldap_api/OP.py
apps/ldap_api/__init__.py
apps/ldap_api/client_db.dat
apps/ldap_api/client_db.dir
apps/ldap_api/config.py
apps/ldap_api/cp_keys/
apps/ldap_api/static/