Notes.md
tmp/*
__pycache__/
*.py[cod]
apps/ldap-api/log/*
*.tdo
*.toc
*.brf
*.bbl
*.aux
*.lof
*.blg
*.fls
*.log
tex/Thesis.*
*.bak
apps/ldap-api/env
scripts/env
apps/ldap_api/env/
apps/sqlserver_manager/env/
app.db